<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr class="section">
        <td colspan="7"><h3>Part A: Information Centric</h3></td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>1. Make Open Data, Content, and Web APIs the New Default</h4></td>
      </tr>
       <tr>
        <td class="action-id">1.1</td>
        <td class="owner">OMB</td>
        <td class="action">Issue government-wide open data, content, and web API policy and identify standards and best practices for improved interoperability.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">1.2</td>
        <td class="owner">Agencies</td>
        <td class="action" markdown="1">Ensure all new IT systems follow the open data, content, and web API policy and operationalize agency.gov/developer pages. *[Within 6 months of release of open data policy – see [milestone 1.1](milestone-1-1)]*</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>2. Make Existing High-Value Data and Content Available through Web APIs</h4></td>
      </tr>   
      <tr>
        <td class="action-id">2.1</td>
        <td class="owner">Agencies</td>
        <td class="action">Engage with customers to identify at least two existing major customer-facing services that contain high-value data or content as first-move candidates to make compliant with new open data, content, and web API policy.</td>
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">2.2</td>
        <td class="owner">Agencies</td>
        <td markdown="1">Make high-value data and content in at least two existing major customer-facing systems available through web APIs, apply metadata tagging and publish a plan to transition additional high-value systems. *[Within 6 months of release of open data policy – see [milestone 1.1](#milestone-1-1)]*.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">2.3</td>
        <td class="owner">GSA</td>
        <td class="action">Expand Data.gov to include a web API catalog that centrally aggregates web APIs posted on agencies’/developer pages.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="section">
        <td colspan="7"><h3>Part B: Shared Platform</h3></td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>3. Establish a Digital Services Innovation Center and Advisory Group</h4></td>
      </tr>
      <tr>
        <td class="action-id">3.1</td>
        <td class="owner">GSA</td>
        <td class="action">Establish a Digital Services Innovation Center to improve the government’s delivery of digital services.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.2</td>
        <td class="owner">OMB</td>
        <td class="action">Convene a Digital Services Advisory Group to provide input on priorities for the Innovation Center activities and recommend government-wide best practices, guidance, and standards.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.3</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Release government-wide bring-your-own-device (BYOD) guidance based on lessons learned from successful pilots at federal agencies.</td>
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.4</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Identify shared and open content management system solutions.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.5</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Provide support to help agencies develop web APIs.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr> 
      <tr>
      <td class="action-id">3.6</td>
        <td class="owner">Innovation Center / Federal CIO Council</td>
        <td class="action">Launch a shared mobile app development program.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>4. Establish Intra-Agency Governance to Improve Delivery of Digital Services</h4></td>
      </tr>
      <tr>
        <td class="action-id">4.1</td>
        <td class="owner">Advisory Group</td>
        <td class="action">Recommend guidelines on agency-wide governance structure for developing and delivering digital services and managing data.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">4.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Establish an agency-wide governance structure for developing and delivering digital services. *[Within 3 months of release of governance guidance – see [milestone 4.1](#milestone-4-1)]*.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr> 
      <tr>
      <tr class="sub-section">
        <td colspan="7"><h4>5. Shift to an Enterprise-Wide Asset Management and Procurement Model</h4></td>
      </tr>

        <td class="action-id">5.1</td>
        <td class="owner">GSA</td>
        <td class="action">Establish government-wide contract vehicle for mobile devices and wireless service.</td>                       <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">5.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Develop an enterprise-wide inventory of mobile devices and wireless service contracts.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">5.3</td>
        <td class="owner">Agencies</td>
        <td class="action">Evaluate the government-wide contract vehicles in the alternatives analysis for all new mobile-related procurements.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">5.4</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Develop models for the delivery of commercial mobile applications into the federal environment.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">5.5</td>
        <td class="owner">GSA</td>
        <td class="action">Set up a government-wide mobile device management platform.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="section">
        <td colspan="7"><h3>Part C: Customer-Centric</h3></td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>6. Deliver Better Digital Services Using Modern Tools and Technologies</h4></td>
      </tr> 
      <tr>
        <td class="action-id">6.1</td>
        <td class="owner">Advisory Group / Federal Web Managers Council</td>
        <td class="action">Recommend guidelines for improving digital services and customer experience.</td>                          <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">6.2</td>
        <td class="owner">GSA</td>
        <td class="action">Update the dot gov domain guidance and procedures to help ensure all new digital services meet improvement guidelines and provide support to agencies.</td>          
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">6.3</td>
        <td class="owner">Agencies</td>
        <td class="action" markdown="1">Ensure all new digital services follow digital services and customer experience improvement guidelines. *[Within 6 months of release of improvement guidance – see [milestone 6.2](#milestone-6-2)]*</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>7. Improve Priority Customer Facing Services for Mobile Use</h4></td>
      </tr> 
      <tr>
        <td class="action-id">7.1</td>
        <td class="owner">Agencies</td>
        <td class="action">Engage with customers to identify at least two existing priority customer-facing services to optimize for mobile use.</td>                             
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">7.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Optimize at least two existing priority customer-facing services for mobile use and publish a plan for improving additional existing services. *[Within 6 months of release of digital services improvement guidance – see [milestone 6.2](#milestone-6-2)]*</td>                       <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>8. Measure Performance and Customer Satisfaction to Improve Service Delivery</h4></td>
      </tr> 
      <tr>
        <td class="action-id">8.1</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Identify tools and guidance for measuring performance and customer satisfaction on digital services.</td>    
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">8.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Implement performance and customer satisfaction measuring tools on all .gov websites. [Within 3 months of release of tools and guidance – see [milestone 8.1](#milestone-8-1)]</td>           
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr class="section">
        <td colspan="7"><h3>Part D: Security and Privacy</h3></td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>9. Promote the Safe and Secure Adoption of New Technologies</h4></td>
      </tr>
      <tr>
        <td class="action-id">9.1</td>
        <td class="owner">DHS / DOD / NIST</td>
        <td class="action">Develop government-wide mobile and wireless security baseline (includes security reference architectures.).</td> 
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr class="sub-section">
        <td colspan="7"><h4>10. Evaluate and Streamline Security and Privacy Processes</h4></td>
      </tr>
      <tr>
        <td class="action-id">10.1</td>
        <td class="owner">NIST</td>
        <td class="action">Report on NIST’s ongoing work in mobile technology, including the applicability of NIST’s standards and guidelines to mobile devices and platforms.</td> 
        <td class="due-1"></td>
        <td class="due-3">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">10.2</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Evaluate opportunities to accelerate the secure adoption of mobile technologies into the federal environment at reduced cost.</td> 
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">10.3</td>
        <td class="owner">Federal CIO Council / NIST / NARA</td>
        <td class="action">Develop guidelines for standardized implementation of digital privacy controls and educate agency privacy and legal officials on options for addressing digital privacy, records retention, and security issues.</td> 
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>                 
    </tbody>
  </table>
  </div>
</div>