<div class="well infographic hidden-phone left">
  <h3>Figure 1: The Layers of Digital Services</h3>
  <div class="well" id="customers">
    <h4>"Customers"</h4>
    <div class="row">
      <div class="span1"><span class="btn">American People</span></div>
      <div class="span1"><div class="btn" id="employees">Employees</div></div>
    </div>
  </div>
  <div class="row">
    <div class="span1"><span class="btn btn-primary">Govt Digital Services</span></div>
    <div class="span1"><span class="btn btn-primary">Private Digital Services</span></div>
    <div class="span1"><div class="layer">Presentation Layer</div></div>
  </div>
  <div class="row">
    <div class="span2"><span class="btn btn-primary">Systems, Processes, Management and Web APIs</span></div>
    <div class="span1"><div class="layer">Platform Layer</div></div>
  </div>
  <div class="row">
    <div class="span2"><span class="btn btn-primary">Open Data and Content (Information)</span></div>
    <div class="span1"><div class="layer">Information Layer</div></div>
  </div>
</div>