<div class="row">
 <div class="span8 offset2">
  <table class="table table-striped table-bordered action-items">
      <thead>
        <tr>
          <th rowspan="2">#</th>
          <th rowspan="2">Owner(s)</th>
          <th rowspan="2">Milestone Actions</th>
          <th colspan="4">Timeframe (months)</th>
        </tr>
        <tr class="due-within">
          <th>1</th>
          <th>3</th>
          <th>6</th>
          <th>12</th>
        </tr>
      </thead>
      <tbody>
        <tr id="milestone-4-1">
          <td class="action-id">4.1</td>
          <td class="owner">Advisory Group</td>
          <td class="action">Recommend guidelines on agency-wide governance structure for developing and delivering digital services and managing data.</td>
          <td class="due-1 checked">&bull;</td>
          <td class="due-3"></td>
          <td class="due-6"></td>
          <td class="due-12"></td>
        </tr>
        <tr>
          <td class="action-id">4.2</td>
          <td class="owner">Agencies</td>
          <td class="action" markdown="1">Establish an agency-wide governance  structure for developing and delivering digital services. [Within 3 months of release of governance guidance – see *[milestone 4.1](#milestone-4-1)*.</td>
          <td class="due-1 checked">&bull;</td>
          <td class="due-3"></td>
          <td class="due-6"></td>
          <td class="due-12"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>