<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">10.1</td>
        <td class="owner">NIST</td>
        <td class="action">Report on NIST’s ongoing work in mobile technology, including the applicability of NIST’s standards and guidelines to mobile devices and platforms.</td> 
        <td class="due-1"></td>
        <td class="due-3">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">10.2</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Evaluate opportunities to accelerate the secure adoption of mobile technologies into the federal environment at reduced cost.</td> 
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">10.3</td>
        <td class="owner">Federal CIO Council / NIST / NARA</td>
        <td class="action">Develop guidelines for standardized implementation of digital privacy controls and educate agency privacy and legal officials on options for addressing digital privacy, records retention, and security issues.</td> 
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>  