<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr id="milestone-8-1">
        <td class="action-id">8.1</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Identify tools and guidance for measuring performance and customer satisfaction on digital services.</td>    
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">8.2</td>
        <td class="owner">Agencies</td>
        <td class="action" markdown="1">Implement performance and customer satisfaction measuring tools on all .gov websites. [Within 3 months of release of tools and guidance – see [milestone 8.1](#milestone-8-1)]</td>           
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
    </tbody>
  </table>      
  </div>
</div>  