<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">5.1</td>
        <td class="owner">GSA</td>
        <td class="action">Establish government-wide contract vehicle for mobile devices and wireless service.</td>                       
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">5.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Develop an enterprise-wide inventory of mobile devices and wireless service contracts.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">5.3</td>
        <td class="owner">Agencies</td>
        <td class="action">Evaluate the government-wide contract vehicles in the alternatives analysis for all new mobile-related procurements.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">5.4</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Develop models for the delivery of commercial mobile applications into the federal environment.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">5.5</td>
        <td class="owner">GSA</td>
        <td class="action">Set up a government-wide mobile device management platform.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr> 
    </tbody>
  </table>      
  </div>
</div>