<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">3.1</td>
        <td class="owner">GSA</td>
        <td class="action">Establish a Digital Services Innovation Center to improve the government’s delivery of digital services.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.2</td>
        <td class="owner">OMB</td>
        <td class="action">Convene a Digital Services Advisory Group to provide input on priorities for the Innovation Center activities and recommend government-wide best practices, guidance, and standards.</td>
        <td class="due-1 checked">&bull;</td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.3</td>
        <td class="owner">Advisory Group / Federal CIO Council</td>
        <td class="action">Release government-wide bring-your-own-device (BYOD) guidance based on lessons learned from successful pilots at federal agencies.</td>
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.4</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Identify shared and open content management system solutions.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">3.5</td>
        <td class="owner">Innovation Center</td>
        <td class="action">Provide support to help agencies develop web APIs.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr> 
      <tr>
      <td class="action-id">3.6</td>
        <td class="owner">Innovation Center / Federal CIO Council</td>
        <td class="action">Launch a shared mobile app development program.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr> 
    </tbody>
  </table>
  </div>
</div>