<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">7.1</td>
        <td class="owner">Agencies</td>
        <td class="action">Engage with customers to identify at least two existing priority customer-facing services to optimize for mobile use.</td>                             
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">7.2</td>
        <td class="owner">Agencies</td>
        <td class="action">Optimize at least two existing priority customer-facing services for mobile use and publish a plan for improving additional existing services. [Within 6 months of release of digital services improvement guidance – see [milestone 6.2](#milestone-6-2)]</td>                       
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
    </tbody>
  </table>      
  </div>
</div>