<div class="row">
  <div class="span8 offset2">   
  <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">2.1</td>
        <td class="owner">Agencies</td>
        <td class="action">Engage with customers to identify at least two existing major customer-facing services that contain high-value data or content as first-move candidates to make compliant with new open data, content, and web API policy.</td>
        <td class="due-1"></td>
        <td class="due-3 checked">&bull;</td>
        <td class="due-6"></td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">2.2</td>
        <td class="owner">Agencies</td>
        <td markdown="1">Make high-value data and content in at least two existing major customer-facing systems available through web APIs, apply metadata tagging and publish a plan to transition additional high-value systems. [Within 6 months of release of open data policy – see [milestone 1.1](#milestone-1-1)].</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
      <tr>
        <td class="action-id">2.3</td>
        <td class="owner">GSA</td>
        <td class="action">Expand Data.gov to include a web API catalog that centrally aggregates web APIs posted on agencies’/developer pages.</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>     
    </tbody>
  </table>

  </div>
</div>