<div class="row">
  <div class="span8 offset2">
    <table class="table table-striped table-bordered action-items">
    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Owner(s)</th>
        <th rowspan="2">Milestone Actions</th>
        <th colspan="4">Timeframe (months)</th>
      </tr>
      <tr class="due-within">
        <th>1</th>
        <th>3</th>
        <th>6</th>
        <th>12</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="action-id">6.1</td>
        <td class="owner">Advisory Group / Federal Web Managers Council</td>
        <td class="action">Recommend guidelines for improving digital services and customer experience.</td>                          
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr id="milestone-6-2">
        <td class="action-id">6.2</td>
        <td class="owner">GSA</td>
        <td class="action">Update the dot gov domain guidance and procedures to help ensure all new digital services meet improvement guidelines and provide support to agencies.</td>          
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6 checked">&bull;</td>
        <td class="due-12"></td>
      </tr>
      <tr>
        <td class="action-id">6.3</td>
        <td class="owner">Agencies</td>
        <td class="action" markdown="1">Ensure all new digital services follow digital services and customer experience improvement guidelines. [Within 6 months of release of improvement guidance – see [milestone 6.2](#milestone-6-2)]</td>
        <td class="due-1"></td>
        <td class="due-3"></td>
        <td class="due-6"></td>
        <td class="due-12 checked">&bull;</td>
      </tr>
    </tbody>
  </table>      
  </div>
</div>