.dropdown-menu
{
  max-width:none;
}

#seal
{
  display:block;
  float:right;
  margin-top:-10px;
  width:107px;
}

.quote
{
  color:#2A5980;
  font-size:20px;
  line-height:30px;
  margin-bottom:30px;
  text-align:center;
}

.quote em
{
  font-size:24px;
  font-variant:small-caps;
}

h2
{
  color:#2A5980;
  margin:25px 0;
  text-align:center;
}

h3
{
  color:#2A5980;
  margin:10px 0 15px;
}

.well h3
{
  color:#000;
  font-size:13px;
  font-style:italic;
  line-height:15px;
  text-align:center;
}

h4
{
  margin:5px 0 10px;
}

.table thead th,table.action-items tr td
{
  text-align:center;
  vertical-align:middle;
}

tr.due-within th
{
  border:1px solid #DDD;
  border-bottom:0;
  border-right:0;
}

.table thead:first-child tr.due-within th
{
  border-top:1px solid #DDD;
}

table.action-items tr td:nth-child(3)
{
  text-align:left;
}

.footnotes
{
  border-top:1px solid #ccc;
  margin-top:50px;
  padding-top:10px;
  word-wrap:break-word;
}

.footnotes,.footnotes li p
{
  font-size:11px;
}

.well
{
  background-color:#B4CEE6;
  border-color:#2A5980;
}

ul
{
  color:#2A5980;
}

ul p
{
  color:#000;
}

thead
{
  background-color:#2A5980;
  color:#fff;
}

tr.section td,tr.section td h3
{
  background-color:#2A5980!important;
  color:#fff;
}

tr.sub-section td
{
  background-color:#ddd!important;
}

.infographic,.infographic .btn
{
  font-size:12px;
  line-height:12px;
}

.infographic .btn
{
  cursor:default;
  min-height:24px;
  padding:5px 2px;
}

.infographic #employees
{
  padding:10px 2px 0;
}

.infographic .layer
{
  font-weight:700;
  padding-top:5px;
  text-align:center;
  width:75px;
}

.infographic .row
{
  margin:10px 0;
}

.infographic #customers
{
  border-style:dashed;
  margin-bottom:0;
  padding:10px 0 5px;
  width:190px;
}

.infographic #customers h4
{
  color:#2A5980;
  font-size:13px;
  margin:0;
  text-align:center;
}

@media max-width620px {
  #seal
  {
    float:none;
    margin:0 auto 25px;
  }
  
  .hero-unit
  {
    padding:25px;
    text-align:center;
  }
  
  .hero-unit h1
  {
    font-size:50px;
  }
}

@media max-width768px {
  .infographic
  {
    display:none;
  }
}

@media max-width980px {
  .infographic .span1,.infographic .span2
  {
    margin-left:10px;
  }
  
  .infographic .span1:nth-child(2),.infographic .span1:nth-child(3)
  {
    margin-left:20px;
  }
  
  .infographic .layer
  {
    margin-left:-5px;
  }
}