<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Digital Government: Building a 21st Century Platform to Better Serve the American People</title>
  
  <meta name="description" content="Mission drives agencies, and the need to deliver better services to customers at a lower cost is pushing every level of government to look for new solutions.">
  
  <meta name="author" content="Office of Management and Budget, The Executive Office of the President">
  
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <style>
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>
  <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <script src="assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>

<body data-spy="scroll">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

 <div class="navbar navbar-inverse navbar-fixed-top">
 <div class="navbar-inner">
 <div class="container">
 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </a>
 <a class="brand" href="#top">Digital Government</a>
 <div class="nav-collapse">
 <ul class="nav">
 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Information-Centric
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
          <li><a href="#open-data-default">Make Open Data, Content, and Web APIs the New Default</a></li>
          <li><a href="#existing-data">Make Existing High-Value Data and Content Available through Web APIs</a></li>
   </ul>
 </li>
 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Shared Platform
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
          <li><a href="#digital-services-center">Establish a Digital Services Innovation Center and Advisory Group</a></li>
          <li><a href="#intra-agency-governance">Establish Intra-Agency Governance to Improve Delivery of Digital Services</a></li>
          <li><a href="#enterprise-asset-management">Shift to an Enterprise-Wide Asset Management and Procurement Model</a></li>
   </ul>
 </li>
       <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Customer-Centric
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
          <li><a href="#better-digital-services">Deliver Better Digital Services Using Modern Tools and Technologies</a></li>
          <li><a href="#prioritize-mobile">Improve Priority Customer-Facing Services for Mobile Use</a></li>
          <li><a href="#measure-performance">Measure Performance and Customer Satisfaction to Improve Service Delivery</a></li>
   </ul>
 </li>
       <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Security and Privacy
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
          <li><a href="#secure-new-technologies">Promote the Safe and Secure Adoption of New Technologies</a></li>
          <li><a href="#evaluate-and-streamline">Evaluate and Streamline Security and Privacy Processes</a></li>
   </ul>
 </li>
 <li><a href="#conclusion">Conclusion</a></li>
 <li><a href="#appendix">Appendix</a></li>
 </ul>
 </div><!--/.nav-collapse -->
 </div>
 </div>
 </div>
 
 <div class="container">

{{ content }}

</div><!-- /container -->

</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <script src="assets/js/vendor/bootstrap.min.js"></script>

  <script src="assets/js/main.js"></script>

<script>
  var _gaq=[['_setAccount','UA-12099831-1'],['_trackPageview'],["_gat._anonymizeIp"],["_setDomainName",".whitehouse.gov"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!-- Hey! If you're reading this, come work with us! Message @StevenVDC and mention this message. -->

</body>
</html>